{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}


{% block body %}
<style>
    <style>.facet-container {
        width: 330px;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    p {
        clear: both;
        padding-top: 1em;
    }

    .facet-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 10px;
        background: #eee;
        padding: 5px;
        min-height: 1.5em;
        font-size: 0.85em;
    }

    .facet-list li {
        margin: 5px;
        padding: 5px;
        font-size: 1.2em;
    }

    .facet-list li.placeholder {
        height: 1.2em
    }

    .facet {
        border: 1px solid #bbb;
        background-color: #fafafa;
        cursor: move;
    }

    .facet.ui-sortable-helper {
        opacity: 0.5;
    }

    .placeholder {
        border: 1px solid orange;
        background-color: #fffffd;
    }

    .div {
        width: 350px;
        height: 70px;
        padding: 10px;
        background-color: white;
        border: 2px black solid;
    }

    .back_grey {
        background-color: lightgrey;
        padding-bottom: 2.5%;
    }
</style>
<div class="back_grey">
    <h1 style="text-align: center; padding-top: 4%;">
        Bienvenue sur le cour :
        {{ cour.title }}
    </h1>
    <h4 style="text-align: center;"> Auteur: {{ cour.auteur }} </h4>
</div>
<div class="container">
    <form action="/cours/{{c_id}}/exo/{{e_id +1}}">
        <div class="row" style="margin: 10px;">
            <div class="col-6">
                <div>
                    <h3>Exercice {{e_id+1}} :</h3>
                    <h4>{{cons}} </h4>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <h3 id="att_hidden">Remplir ici :</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-6" id="col-exo">
                <div style="border: solid 1px gray; padding: 20px;" id="foo">
                </div>
            </div>
            <div class="col-6" id="res_hidden">
                <div style="border: solid 1px gray; padding: 20px;" id="foo">
                    <ul id="userFacets" class="facet-list">
                    </ul>
                </div>
            </div>
        </div>
        <p style="text-align: center;"><button type="button" onclick="send_value()"
                style="text-align: center;">Verifier</button>
            <button type="submit" id="btn_sub" hidden>Suivant</button></p>
        <input type="text" name="c_id" value="{{ c_id }}" hidden>
        <input type="text" name="exo_id" value="{{ e_id }}" hidden>
    </form>
</div>
{# {% endfor %} #}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    //Test
    var result = [];
    {% for r in res %}
    result.push("{{ r }}");
    {% endfor %}
    var options = [];
    {% for ex in exo %}
    options.push("{{ ex }}");
    {% endfor %}
    console.log(options);
    console.log(result);

    function makeUL(options, val) {
        var form = document.createElement('form');
        form.setAttribute('id', 'form');
        // Create the list element:
        var list = document.createElement('ul');
        list.setAttribute('id', 'allFacets');
        list.setAttribute('class', 'facet-list');
        for (var i = 0; i < options.length; i++) {
            // Create the list item:
            var item = document.createElement('li');
            item.setAttribute('class', 'facet');
            item.setAttribute('id', 'li_' + i);
            var btnPlus = document.createElement("BUTTON");
            btnPlus.setAttribute('type', 'button');
            btnPlus.setAttribute('style', 'float:right;');

            btnPlus.setAttribute('onclick', 'add_indent(pad' + i + ',li_' + i + ',true)');
            btnPlus.appendChild(document.createTextNode("+"));
            var btnMoins = document.createElement("BUTTON");
            btnMoins.setAttribute('type', 'button');
            btnMoins.setAttribute('style', 'float:right;');

            btnMoins.setAttribute('onclick', 'add_indent(pad' + i + ',li_' + i + ',false)');
            btnMoins.appendChild(document.createTextNode("-"));
            var pad = document.createElement('input');
            pad.setAttribute('type', 'number');
            pad.setAttribute('hidden', 'true');
            pad.setAttribute('id', 'pad' + i);
            pad.setAttribute('value', '0');

            // Set its contents:
            item.appendChild(document.createTextNode(options[i]));
            // Add au li:
            item.appendChild(btnPlus);
            item.appendChild(btnMoins);
            item.appendChild(pad);
            list.appendChild(item);
        }
        form.appendChild(list);
        return form;
    }
    document.getElementById('foo').appendChild(makeUL(options, 'exo'));

    function add_indent(num, l, plus) {
        console.log(plus);
        if (plus) {
            if (num.value < 10) {
                num.value++;
                var n = num.value * 10;
                l.style = "padding-left:" + n + "px";
            }
        } else {
            if (num.value > 1) {
                num.value--;
                var n = num.value * 10;
                l.style = "padding-left:" + n + "px";
            } else {
                num.value = 0;
                l.style = "";
            }
        }
        console.log(num.value);

    }

    function rebuild_option() {
        var array = [];
        var list = $("#userFacets");
        for (var i = 0; i < list.length; i++) {
            array.push(list[i].textContent);
        }
        return array;
    }

    function is_same(arr, array) {
        if (arr.length == array.length) {
            for (var i = 0; i < options.length; i++) {
                if (arr[i] != array[i]) {
                    return false;
                }
            }
            return true;
        }
        return false;
    }

    function send_value() {
        var val = rebuild_option();
        if (is_same(val, result)) {
            document.getElementById('btn_sub').hidden = false;
        } else {
            document.getElementById('btn_sub').hidden = true;
            alert('Encore un effort, c\'est presque bon !');
        }
    }

    $(function () {
        $("#allFacets, #userFacets").sortable({
            connectWith: "ul",
            delay: 150
        }).disableSelection();
    });

</script>
{% endblock %}