{% extends 'base.html.twig' %}
{% block nav_li %}
<li class="nav-item">
    <a class="nav-link" href="#">Profil</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
</li>
{% endblock %}
{% block body %}
<style>
    .div {
        width: 350px;
        height: 70px;
        padding: 10px;
        background-color: white;
        border: 2px black solid;
    }
</style>
<div>
    <h1 style="text-align: center; padding-top: 4%;">
        Bienvenue sur le cour :
        {{ cour.title }}
    </h1>
    <h4 style="text-align: center;"> Auteur: {{ cour.auteur }} </h4>
</div>
<div class="container-fluid" style="padding-top: 5%;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4" style="background-color: lightgrey; padding:5%; border: solid 2px black;">
            {% set i = 0 %}
            {% for val in val %}
            <div class="div" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div id="drag{{i}}" draggable="true" ondragstart="drag(event)">{{val}}</div>
            </div>
            <br>
            {% set i = i+1 %}
            {% endfor %}
        </div>
        <div class="col-4" style="background-color: lightgrey; padding:5%; border: solid 2px black;">
            {% set i = 0 %}
            {% for v in cour.value %}
            <div class="div" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <br>
            {% set i = i+1 %}
            {% endfor %}

        </div>
        <div class="col-2">
            <div>

            </div>
        </div>
    </div>
</div>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>


{% endblock %}