{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}


{% block body %}
<style>
    .div {
        width: 350px;
        height: 70px;
        padding: 10px;
        background-color: white;
        border: 2px black solid;
    }

    .back_grey {
        background-color: lightgrey;
        padding-bottom: 2.5%;
    }
</style>
<div class="back_grey">
    <h1 style="text-align: center; padding-top: 4%;">
        Bienvenue sur le cour :
        {{ cour.title }}
    </h1>
    <h4 style="text-align: center;"> Auteur: {{ cour.auteur }} </h4>
</div>
<div class="container">
    <form action="/cours/{{c_id}}/exo/{{e_id +1}}">
        <div class="row" style="margin: 10px;">
            <div class="col-6">
                <div>
                    <h3>Exercice {{e_id+1}} :</h3>
                    <h4>{{cons}} </h4>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <h3 id="att_hidden" hidden>Attendu :</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-6" id="col-exo">

                <div style="border: solid 1px gray; padding: 20px;" id="foo">
                </div>
            </div>
            <div class="col-6" id="res_hidden" hidden>
                <div style="border: solid 1px gray; padding: 20px;" id="foo_hidden">
                </div>
            </div>
        </div>
        <p style="text-align: center;"><button type="button" onclick="send_value()"
                style="text-align: center;">Verifier</button>
            <button type="submit" id="btn_sub" hidden>Suivant</button></p>
        <input type="text" name="c_id" value="{{ c_id }}" hidden>
        <input type="text" name="exo_id" value="{{ e_id }}" hidden>
    </form>
</div>
{# {% endfor %} #}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    //Test
    var result = [];
    {% for r in res %}
    result.push("{{ r }}");
    {% endfor %}
    var options = [];
    {% for ex in exo %}
    options.push("{{ ex }}");
    {% endfor %}
    console.log(options);
    console.log(result);

    function makeUL(options, val) {
        var form = document.createElement('form');
        form.setAttribute('id', 'form');
        // Create the list element:
        var list = document.createElement('ul');
        list.setAttribute('id', 'sortable');
        list.setAttribute('class', val);
        for (var i = 0; i < options.length; i++) {
            // Create the list item:
            var item = document.createElement('li');
            item.setAttribute('style', 'border: solid 1px lightslategrey; padding: 5px; background-color: lightgrey;');
            // Set its contents:
            item.appendChild(document.createTextNode(options[i]));
            // Add it to the list:
            list.appendChild(item);
        }
        form.appendChild(list);
        return form;
    }
    document.getElementById('foo').appendChild(makeUL(options, 'exo'));
    document.getElementById('foo_hidden').appendChild(makeUL(result, 'exo_hidden'));

    function rebuild_option() {
        var array = [];
        var list = document.querySelectorAll('.exo li');
        for (var i = 0; i < list.length; i++) {
            array.push(list[i].textContent);
        }
        return array;
    }

    function is_same(arr, array) {
        if (arr.length == array.length) {
            for (var i = 0; i < options.length; i++) {
                if (arr[i] != array[i]) {
                    return false;
                }
            }
            return true;
        }
        return false;
    }

    function send_value() {
        var val = rebuild_option();
        if (is_same(val, result)) {
            document.getElementById('res_hidden').hidden = false;
            document.getElementById('att_hidden').hidden = false;
            document.getElementById('btn_sub').hidden = false;
        } else {

            document.getElementById('res_hidden').hidden = true;
            document.getElementById('att_hidden').hidden = true;
            document.getElementById('btn_sub').hidden = true;
            alert('Encore un effort, c\'est presque bon !');
        }
    }

    //End test
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>
{% endblock %}