{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}


{% block body %}
<style>
    .facet-container {
        width: 330px;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }

    p {
        clear: both;
        padding-top: 1em;
    }

    .facet-list {
        list-style-type: none;
        margin: 0 10px 0 0;
        padding: 5px;
        background: #eee;
        min-height: 1.5em;
        font-size: 0.85em;
    }

    .facet-list li {
        margin: 5px;
        padding: 5px;
        font-size: 1.2em;
    }

    .facet-list li.placeholder {
        height: 1.2em;
    }

    .facet {
        border: 1px solid #bbb;
        background-color: #fafafa;
        cursor: move;
    }

    .facet.ui-sortable-helper {
        opacity: 0.5;
    }

    .placeholder {
        border: 1px solid orange;
        background-color: #fffffd;
    }

    .div {
        width: 350px;
        height: 70px;
        padding: 10px;
        background-color: white;
        border: 2px black solid;
    }

    .back_grey {
        background-color: lightgrey;
        padding-bottom: 2.5%;
    }
</style>
<div class="back_grey">
    <h1 style="text-align: center; padding-top: 4%;">
        Bienvenue sur le cour :
        {{ cour.title }}
    </h1>
    <h4 style="text-align: center;">
        Auteur:
        {{ cour.auteur.username }}
    </h4>
</div>
<div class="container">
    <form action="/cours/{{cour_id}}/exo/{{cour_exo_id +1}}">
        <div class="row" style="margin: 10px;">
            <div class="col-6">
                <div>
                    <h3>
                        Exercice {{cour_exo_id+1}} :
                    </h3>
                    <h4>
                        {{cons}}
                    </h4>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <h3 id="att_hidden">
                        Remplir ici :
                    </h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-6" id="col-exo">
                <div style="border: solid 1px gray; padding: 20px;" id="foo"></div>
            </div>
            <div class="col-6" id="res_hidden">
                <div style="border: solid 1px gray; padding: 20px;" id="foo">
                    <ul id="userFacets" class="facet-list"></ul>
                </div>
            </div>
        </div>
        <p style="text-align: center;">
            <button type="button" onclick="send_value()" style="text-align: center;">
                Verifier
            </button>
            <button type="submit" id="btn_sub" hidden>
                Suivant
            </button>
        </p>
        <input type="text" name="cour_id" value="{{ cour_id }}" hidden>

        <input type="text" name="cour_exo_id" value="{{ cour_exo_id }}" hidden>


    </form>
</div>
{# {% endfor %} #}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/ajax.js"></script>

<script type="text/javascript">
    var list_ligne = [];
    {% for l in exo %}
    list_ligne.push({ ligne_id: {{ l.id }}, text: "{{ l.text }}", tab: 0});
    {% endfor %}
    function makeUL(val) {
        var form = document.createElement('form');
        form.setAttribute('id', 'form');
        // Create the list element:
        var list = document.createElement('ul');
        list.setAttribute('id', 'allFacets');
        list.setAttribute('class', 'facet-list');
        for (var i = 0; i < list_ligne.length; i++) {
            // Create the list item:
            var item = document.createElement('li');
            item.setAttribute('class', 'facet');
            item.setAttribute('id', 'li_' + i);
            item.setAttribute('value', i);
            var btnPlus = document.createElement("BUTTON");
            btnPlus.setAttribute('type', 'button');
            btnPlus.setAttribute('style', 'float:right;');

            btnPlus.setAttribute('onclick', 'add_indent(' + i + ',true)');
            btnPlus.appendChild(document.createTextNode("+"));
            var btnMoins = document.createElement("BUTTON");
            btnMoins.setAttribute('type', 'button');
            btnMoins.setAttribute('style', 'float:right;');

            btnMoins.setAttribute('onclick', 'add_indent(' + i + ' ,false)');
            btnMoins.appendChild(document.createTextNode("-"));

            // Set its contents:
            item.appendChild(document.createTextNode(list_ligne[i].text));
            // Add au li:
            item.appendChild(btnPlus);
            item.appendChild(btnMoins);
            list.appendChild(item);
        }
        form.appendChild(list);
        return form;
    }
    document.getElementById('foo').appendChild(makeUL('exo'));
    function add_indent(i, plus) {
        if (plus) {
            if (list_ligne[i].tab < 10) {
                list_ligne[i].tab++;
                var n = list_ligne[i].tab * 50;
                $('#li_' + i).css("padding-left", n + "px");
            }
        } else {
            if (list_ligne[i].tab > 1) {
                list_ligne[i].tab--;
                var n = list_ligne[i].tab * 50;
                $('#li_' + i).css("padding-left", n + "px");
            } else {
                list_ligne[i].tab = 0;
                $('#li_' + i).css("padding-left", "");
            }
        }
    }

    function rebuild_option() {
        var array = [];
        var res = $("#userFacets").children();
        for (let i = 0; i < res.length; i++) {
            let ligne = list_ligne[res[i].value];
            array.push({ ligne_id: ligne.ligne_id, nb_tab: ligne.tab });
        }
        return array;
    }

    function send_value() {
        var val = rebuild_option();
        $.ajax({
            url: '/verif/exo/{{exo_id}}',
            type: 'POST',
            dataType: 'json',
            data: {
                rep: val
            },
            async: true,

            success: function (data, status) {
                if (data) {
                    document.getElementById('btn_sub').hidden = false;
                } else {
                    document.getElementById('btn_sub').hidden = true;
                    alert('Encore un effort, c\'est presque bon !');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });
    }

    $(function () {
        $("#allFacets, #userFacets").sortable({
            connectWith: "ul",
            delay: 150
        }).disableSelection();
    });

</script>
{% endblock %}