{% extends 'base.html.twig' %}

{% block nav_li %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('home') }}">Cours</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
</li>
{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(formCour) }}
    <div class="container">
        <h1>Créons un cours ! </h1>
        <fieldset>
            {{ form_widget(formCour.title) }}
        </fieldset>
        <br>
        <fieldset>
            {{ form_widget(formCour.temps) }}

        </fieldset>
        <br>
        <fieldset>
            <textarea class="form-control " rows="5" cols="33" name="value" id=""
                placeholder="Taper votre code"></textarea>
        </fieldset>
        <br>
        <fieldset>
            {{ form_widget(formCour.save) }}
        </fieldset>
    </div>
    {{ form_end(formCour ) }}
</div>

{% endblock %}