{% extends 'base.html.twig' %}

{% block nav_li%}
{% if not app.user %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('security_inscription') }}">Inscription</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
</li>
{% else %}
{% if prof ==true %}
<li class="nav-item">
    <a class="nav-link" href="#">Mes Cours</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('createCour') }}">Créer un cour</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('home') }}">Cours</a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
</li>
{% endif %}
{% endblock %}
{% block body %}
<h1 style="text-align: center; padding: 5% 0% 5% 0%">Bienvenue sur ExoEnLigne !</h1>
{% if app.user %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Temps</th>
            <th scope="col">Créateur</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for cour in liste_cours %}
        <tr>
            <td>{{ cour.title }}</td>
            <td>{{ cour.temps }} minutes</td>
            <td>{{ cour.auteur }}</td>
            <td><a style="float: right;" type="button" href="{{ path('cour_view', {'id':cour.id}) }}"> Essayer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="container">
    <p>Pour pouvoir acceder à nos cours en ligne merci de vous inscrire !
    </p>
    <p>(Vous êtes enseignant ou formateur ? Pensez à cocher la case "enseignant" !)
    </p>
    <a href="{{ path('security_login') }}"><button class="btn btn-success"> S'inscrire !</button></a>
</div>

{% endif %}
{% endblock %}