{% extends 'base.html.twig' %}

{% block nav_li%}

{% endblock %}
{% block body %}
<h1 style="text-align: center; padding: 5% 0% 5% 0%">Bienvenue sur ExoEnLigne !</h1>
{% if app.user %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Temps</th>
            <th scope="col">Créateur</th>

            {% if app.user.prof %}
            <th scope="col">Réussite</th>
            {% else %}
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for cour in liste_cours %}
        <tr>
            <td>{{ cour.title }}</td>
            <td>{{ cour.temps }} minutes</td>
            <td>{{ cour.auteur }}</td>
            {% if app.user.prof%}
            {% if app.user.username == cour.auteur %}
            <td>95%</td>
            {% else %}
            <td></td>
            {% endif %}
            {% else %}
            {% set bool = 0 %}
                 {% for c in app.user.getDone() %}
                    {% if c.id == cour.id %}
                    {% set bool = 1 %}
                    {% endif %}
                 {% endfor %}
                 {% if bool == 1%}
                 <td>Terminé.</td>
                 {% else %}
            <td><a style="float: right;" type="button" href="{{ path('cour_view', {'id':cour.id}) }}"> Essayer</a></td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="container">
    <p>Pour pouvoir acceder à nos cours en ligne merci de vous inscrire !
    </p>
    <p>(Vous êtes enseignant ou formateur ? Pensez à cocher la case "enseignant" !)
    </p>
    <a href="{{ path('security_login') }}"><button class="btn btn-success"> Se conencter !</button></a>
</div>

{% endif %}
{% endblock %}